{% load static %}
<!doctype html>
<html data-theme="bumblebee">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'dist/output.css' %}" rel="stylesheet">
    <title>{% block title %}MAKINJADI{% endblock %}</title>
</head>

<body class="space-y-4">
    <div class="navbar bg-neutral text-neutral-content">
        <nav class="container flex items-center mx-auto justify-between">
            <div class="flex items-center gap-4">
                <h1 class="btn no-animation text-xl"><a href="{% url 'index' %}">MAKINJADI</a></h1>
                <span>Manajemen Keuangan dan Informasi Perjalanan Dinas</span>
            </div>
            <div class="flex items-center">
                <a href="{% url 'admin:index' %}" class="btn btn-sm btn-ghost hover:btn-primary">Admin</a>
            </div>
        </nav>
    </div>

    {% block content %}
    {% endblock %}
</body>

</html>