{% extends "dashboard/base.html" %}

{% block content %}
<div class="overflow-x-auto container mx-auto">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>No</th>
                <th>Nomor SPD</th>
                <th>Nomor ST</th>
                <th>Pelaksana Tugas</th>
                <th>Waktu Pelaksanaan</th>
                <th>Status</th>
                <th>Tanggal Update</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if expense_documents %}
            {% for doc in expense_documents %}
            <tr class="hover">
                <td>{{ forloop.counter }}</td>
                <td>{{ doc.number }}</td>
                <td>{{ doc.work_order.number }}</td>
                <td>{{ doc.employee.name }}</td>
                <td>{{ doc.range_of_work_days }}</td>
                <td>{{ doc.last_status }}</td>
                <td>{{ doc.last_update }}</td>
                <td><a href="{% url 'detail' doc.id %}" class="btn btn-xs btn-primary">Detil</a></td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="8">Tidak ada SPD yang pending</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}